<footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-left">
            <div class="w-10">
              <h2 class="navbar-brand-text text-warning pt-5">Toko <span class="pt-2 ps-2 text-info pancing">Pancing</span></h2>
              <p class="text-black-50 pt-3"><span class="d-block">Toko Alat Pancing</span> <span class="d-block">Jl. Ulin No.68, Sebulu Ulu, <span class="d-block">Kec. Sebulu, Kab. Kutai Kartanegara</span>  Kalimantan Timur 75552</p>
              <p class="text-black-50 pt-4 pb-4">&copy 2021 Risky Kurniawan</p>  
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footer-right fs-1">
            <div class="row">
              <div class="col pe-5"><i class="fab fa-whatsapp"></i></div>
              <div class="col pe-5"><i class="fab fa-instagram"></i></div>
              <div class="col pe-5"><i class="fab fa-twitter"></i></div>
              <div class="col pe-5"><i class="fab fa-facebook-f"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/script.js"></script>
</body>
</html>