<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Alat Pancing</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
      
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-xl bg-light fixed-top">
        <div class="container-fluid">
          <a class="ps-3 pe-3 navbar-brand" href="#"><img src="image/fish.png" alt="" class="fish"></a>
          <h2 class="navbar-brand-text text-warning">Toko <span class="pt-2 ps-2 text-info pancing">Pancing</span></h2>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><h2 class="navbar-brand-text text-warning">Toko <span class="pt-3 ps-2 text-info">Pancing</span></h2></h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item pe-3">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="https://goo.gl/maps/LiAjooGvsMRYEFHSA" target="_blank">Lokasi</a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="" title="Pemberitahuan" data-bs-content="Mohon Maaf Fitur Belum Tersedia Saat ini">Hubungi Kami</a>
                </li>
                <li class="nav-item pe-3">
                    <div class="dropdown">
                        <div class="btn btn-transparent" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-shopping-cart text-warning"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="/all">Semua Produk</a></li>
                            <li><a class="dropdown-item" href="#">Joran</a></li>
                            <li><a class="dropdown-item" href="#">Reel</a></li>
                            <li><a class="dropdown-item" href="#">Lure</a></li>
                            <li><a class="dropdown-item" href="#">Mata Pancing</a></li>
                            <li><a class="dropdown-item" href="#">Senar Nylon</a></li>
                            <li><a class="dropdown-item" href="#">Timah Pemberat</a></li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Lain - Lain</a></li>
                          </ul>
                      </div>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt text-warning"></i></a>
                </li>

              </ul>
              <form class="d-flex">
                <input class="form-control search me-1" type="search" placeholder="Cari di toko ini..." aria-label="Search">
                <button class="btn btn-transparent" type="submit"><i class="fas fa-search text-warning"></i></button>
              </form>
            </div>
          </div>
        </div>
      </nav>
<!-- End Navbar -->