<%- include('header') -%>
<h2>this is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione adipisci, architecto labore itaque, soluta perspiciatis dolorem neque eligendi aperiam nihil ducimus fuga natus hic alias. Laborum, porro odit? Tenetur, minus.</p>
<%- include('footer') -%>