<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Alat Pancing</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
<!-- Navbar -->
    <nav class="navbar navbar-light navbar-expand-xl bg-light fixed-top">
        <div class="container-fluid">
          <a class="ps-3 pe-3 navbar-brand" href="#"><img src="../public/image/fish.png" alt="" class="fish"><span class="vl"></span></a>
          <h2 class="navbar-brand-text text-warning">Toko <span class="pt-2 ps-2 text-info pancing">Pancing</span></h2>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><h2 class="navbar-brand-text text-warning">Toko <span class="pt-3 ps-2 text-info">Pancing</span></h2></h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item pe-3">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="https://goo.gl/maps/LiAjooGvsMRYEFHSA" target="_blank">Lokasi</a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="" title="Pemberitahuan" data-bs-content="Mohon Maaf Fitur Belum Tersedia Saat ini">Hubungi Kami</a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="" title="Pemberitahuan" data-bs-content="Mohon Maaf Fitur Belum Tersedia Saat ini"><i class="fas fa-shopping-cart text-warning"></i></a>
                </li>
                <li class="nav-item pe-3">
                  <a class="nav-link" href="login.html"><i class="fas fa-sign-in-alt text-warning"></i></a>
                </li>

              </ul>
              <form class="d-flex">
                <input class="form-control search me-1" type="search" placeholder="Cari di toko ini..." aria-label="Search">
                <button class="btn" type="submit"><i class="fas fa-search text-warning"></i></button>
              </form>
            </div>
          </div>
        </div>
      </nav>
<!-- End Navbar -->


<!-- Top Container -->
<div class="top-container">
    <div class="container">
        <div class="row">
            <div class="col">
              <h1 class="text-light"> Toko Alat Pancing </h1>
              <h5 class="text-light"><i class="fas fa-map-marker-alt"></i> Jl Ulin RT 10, Sebulu Ulu, Kec. Sebulu, Kab. Kutai Kartanegara, Kalimantan Timur</h5>  
                <div class="company-card pt-5 pb-5 mb-5">
                  <div class="company-card-container">
                    <div class="company-card-left float-start"></div>
                    <div class="company-card-right float-end">  
                      <div class="company-top">
                        <div class="company-name"><h6>Toko Pancing Sebulu Ulu</h6><span class="small">Aktif 1 menit yang lalu</span></div>
                      </div>
                      <div class="company-bottom">
                        <ul>
                          <li>
                              <button type="button" class="btn btn-primary"> <i class="fas fa-plus"></i> <span class="text"> Ikuti Kami</span></button>
                          </li>
                          <li>
                              <button type="button" class="btn btn-primary"> <i class="fas fa-comment-dots"></i> <span class="text"> Chat</span></button>
                          </li>
                      </ul>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
            <div class="col pt-5 mt-20">
                <div class="container container-symbol">
                    <div class="row">
                      <div class="col"><i class="fas fa-store pe-2 pt-5 text-white produk"></i> <span class="text-white "> Total <span class="pe-2">Produk: </span> <span class="text-warning"> 120</span>  </span></div>
                      <div class="col"><i class="fas fa-user-check pe-2 pt-5 text-white"></i> <span class="text-white "> Berdiri Sejak: <span class="text-warning"> 2017</span></span></div>
                    </div>
                    <div class="row">
                      <div class="col"><i class="fas fa-users pe-2 pt-5 text-white"></i> <span class="text-white "> Pengikut: <span class="text-warning"> 19.3RB</span></span></div>
                      <div class="col"><i class="fas fa-user pe-2 pt-5 text-white"></i> <span class="text-white "> Mengikuti: <span class="text-warning"> 4.3RB</span></span></div>
                    </div>
                    <div class="row">
                      <div class="col"><i class="fas fa-comment-dots pe-2 pt-5 text-white"></i> <span class="text-white "> Performa Chat: <span class="text-warning"> 99% (Hitungan Jam)</span></span></div>
                      <div class="col"><i class="far fa-star pe-2 pt-5 text-white"></i> <span class="text-white "> Rating: <span class="text-warning"> 4.9 (18.2RB Penilaian)</span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--End Top Container -->

<div class="middle-container pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col text-center lh-1"><a href="#" class="text-decoration-none text-black">Beranda</a></div>
            <div class="col text-center lh-1"><a href="#" class="text-decoration-none text-black">Semua Produk</a></div>
            <div class="col text-center lh-1"><a href="#" class="text-decoration-none text-black">Joran</a></div>
            <div class="col text-center lh-1">
                <a class="dropdown-toggle text-black text-decoration-none" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                    <li><a class="dropdown-item" href="#">Joran</a></li>
                    <li><a class="dropdown-item" href="#">Reel</a></li>
                    <li><a class="dropdown-item" href="#">Lure</a></li>
                    <li><a class="dropdown-item" href="#">Mata Pancing</a></li>
                    <li><a class="dropdown-item" href="#">Senar Nylon</a></li>
                    <li><a class="dropdown-item" href="#">Timah Pemberat</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Lain - Lain</a></li>
                  </ul>
            </div>
        </div>
    </div>    
    <!-- Row 1 -->
    <div class="container">
      <h2 class="best">Best Seller</h2>
      <div class="row">
        <div class="col">
          <div class="card"><i class="fas fa-crown position-absolute crown"></i>
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h2>Charm</h2>
                      <p>Rp. 7000</p>
                    </div>
                    <div class="buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
            </div>
          </div>
        </div>
      <!-- End row 1 -->

      <!-- Row 2 -->
      <!-- <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h2>Charm</h2>
                      <p>Rp. 7000</p>
                    </div>
                    <div class="buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h2>Charm</h2>
                      <p>Rp. 7000</p>
                    </div>
                    <div class="buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-container">
              <div class="top"></div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h2>Charm</h2>
                      <p>Rp. 7000</p>
                    </div>
                    <div class="buy">
                      <i class="fas fa-cart-plus cart"></i>
                    </div>
                  </div>
                  <div class="right"></div>
                </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- End Row 2 -->

<div class="container">
  
  <div id="bestseller" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#bestseller" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner bg-light">
      <h2 class="rekomen">Rekomendasi</h2>
      <div class="carousel-item active">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-container">
            <div class="top"></div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h2>Charm</h2>
                    <p>Rp. 7000</p>
                  </div>
                  <div class="buy">
                    <i class="fas fa-cart-plus cart"></i>
                  </div>
                </div>
                <div class="right"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#bestseller" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bestseller" data-bs-slide="next">
      <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <h2 class="comment-header">Apa yang Dikatakan Costumer Kami</h2>
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="../public/image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Yuno</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="../public/image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Sasuke</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            
            <div class="comment text-center w-50 pt-5">
              <img src="../public/image/ss.png" class="rounded-circle w-25" alt="">
              <p class="costumer-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ad inventore adipisci ipsum repellendus fuga atque, laudantium vero ipsa illum praesentium itaque maiores, minima quidem possimus! Corporis molestias pariatur ab.</p>
              <p class="pt-3 text-secondary">Ichigo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
</div>
</div> 

<!-- dev -->
<div class="container text-center pb-5 pt-3">
  <div class="comment-header pb-5">Developer</div>
  <div class="my-container">
    <span class="noob">new</span>
    <div class="clear"></div>
    <div class="image">
      <img src="../public/image/risky.jpg" alt="" class="rounded-circle">
    </div>
    <h3 class="fw-bold">Risky Kurniawan</h3>
    <h6 class="fw-bold">Kutai Kartanegara</h6>
    <p class="fw-bold">front-end developer</p>
    <button type="button" class="btn btn-info btn-call">Message</button>
    <button type="button" class="btn btn-outline-info btn-call">Portofolio</button>
    <div class="skills">
      <p class="fw-bold text-light">SKILLS</p>
      <ul class="text-decoration-none">
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">Front End Development</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">HTML</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">CSS</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">JavaScript</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">React</button>
        <button class="btn btn-outline-light small rounded-0 mt-2 me-1">Node</button>
      </ul>
    </div>
  </div>
  
</div>
<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-left">
          <div class="w-10">
            <h2 class="navbar-brand-text text-warning pt-5">Toko <span class="pt-2 ps-2 text-info pancing">Pancing</span></h2>
            <p class="text-black-50 pt-3"><span class="d-block">Toko Alat Pancing</span> <span class="d-block">Jl. Ulin No.68, Sebulu Ulu, <span class="d-block">Kec. Sebulu, Kab. Kutai Kartanegara</span>  Kalimantan Timur 75552</p>
            <p class="text-black-50 pt-4 pb-4">&copy 2021 Risky Kurniawan</p>  
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-right fs-1">
          <div class="row">
            <div class="col pe-5"><i class="fab fa-whatsapp"></i></div>
            <div class="col pe-5"><i class="fab fa-instagram"></i></div>
            <div class="col pe-5"><i class="fab fa-twitter"></i></div>
            <div class="col pe-5"><i class="fab fa-facebook-f"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>