<%-include("partials/header.ejs")-%>

<body class="sign-in-bg">
<div class="sign-in-body login-container" id=" login-container">
	<div class="form-container sign-in-container">
		<form action="#" method="POST" class="form-login">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social anchor "><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social anchor"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social anchor"><i class="fab fa-twitter"></i></a>
			</div>
			<span class="your-acc">atau gunakan akunmu</span>
			<input type="username" placeholder="Username" class="input"/>
			<input type="password" placeholder="Password" class="input"/>
			<a href="#" class="anchor">Lupa Password?</a>
			<button type="submit" class="btn-sign">Sign In</button>
		</form>
	</div>
	<div class="overlay-container" id="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Halo!</h1>
				<p class="text-masuk">Silahkan Masuk Untuk Melanjutkan</p>
			</div>
		</div>
	</div>
</div>

<%-include("partials/footer.ejs")-%>